* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(qr.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 400px;
  padding: 25px 35px;
  background-color: rgba(27, 28, 27, 0.637);
  border-radius: 5px;
}
.B-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: aliceblue;
}
h1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: aliceblue;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
button {
  width: 100%;
  padding: 10px;
  background: rgba(255, 166, 0, 0.81);
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: 750;
}
button:hover {
  background: orange;
}
h4 {
  color: aliceblue;
  padding-top: 15px;
}
#imgqr {
  padding: 10px;
}
.error {
  background-color: rgba(17, 17, 17, 0.03);
  border-bottom: 1px solid red;
}
@media (max-width: 418px) {
  .container {
    margin: 0 10px;
  }
  h1 {
    font-size: 25px;
    margin-bottom: 10px;
    color: aliceblue;
  }
  h4 {
    font-size: 15px;
  }
}
